
.header, img {
  width: 100%;
}

.navbar {
  margin: auto;
  margin-bottom: 30px;
  padding: 30px;
  text-align: center;
  background-color: #50808c;
  font-family: 'Oswald', sans-serif;
}

.navbar span a {
  text-decoration: none;
  margin: auto;
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0.8px;
}

.text {
  margin: auto;
  padding-top: 40px;
  max-width: 700px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.text h1 {
  margin-bottom: 15px;
  padding: 20px;
  font-size: 35px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 900;
}

.text h2 {
  padding: 15px;
  font-size: 20px;
}

.text h3 {
  padding: 10px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
}

.text p {
  padding: 5px;
  padding-bottom: 40px;
  text-align: center;
  line-height: 21px;
  letter-spacing: 0.3px;
}

.footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #50808c;
}

.footer h3 {
  color: #ffffff;
}

.some {
  margin: 15px;
}

.some a {
  text-decoration: none;
}

.some a img {
  width: 50px;
  padding: 15px;
}

p a {
  text-decoration: none;
  color: #000000;
}

#faq p {
  text-align: left;
}
